<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataStackIO</title>
        @Styles.Render("~/Content/css")
        <script src="https://maps.google.com/maps/api/js?key=AIzaSyC4uQEtjaFTuSWFkWKty8uQSC8DBGCU47Q&libraries=placeses,visualization,drawing,geometry,places"></script>
        <link name="site" href="~/public/assets/css/site.css?t=1489767238758" rel="stylesheet" />
        <script name="vendor" src="~/public/assets/libs/vendor.js?t=1489767238758"></script>
        <script name="app" src="~/public/assets/js/app.js?t=1489767238758"></script>
        <script name="templates" src="~/public/assets/js/templates.js?t=1489767238758"></script>
        @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("DataStackIO", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="body-content" style="padding-top:50px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DataStackIO</p>
        </footer>
    </div>
</body>
</html>
